section{
    background-color:black;
    text-align: center;

    
}
h1{
    text-align: center;
    color: aliceblue;
}
.stocks-list{
    display:block;
    margin: auto;
    padding: 2em;
    color: rgb(70, 231, 21);

    
}
.stocks{
    max-width: 50%;
    font-size:large;
    text-align: center;
    margin:auto;
    padding-bottom: 1em;

}

body{
    background-image:url('/finalproject/stockbackground.jpg') ;
    
}

#stock-p{
    color: white;
    text-align: center;
    font-size: large;
}
#stock-icon{
    width:50px;
    height:50px;
    background-color: white;
}

#header{
    padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    background-color: black;
}

#topstocks, .title{
    text-align: center;
    background-color: black;
    padding: 1em;
    color:white;
}

.information{
    position: relative;
    margin-top: 50px;
    background-color: black;
    color: rgb(70, 231, 21);
    padding:2em;
    text-align:center;
}

.stock-search-box{
    
    margin: auto;
    width: 60%;
    padding:2em
   
}

#test{
    width: 200px;
    height:30px;
    margin: auto;

   
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

@media only screen and (min-width: 992px) {
    .stocks-list{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        margin: auto;
        padding: 2em;
        color: rgb(70, 231, 21);
    
        
    }
    .stock-search-box{
      padding: 2em;
  
      text-align:center;
         
    }
    #test{
        width: 500px;
     
        margin: auto;
    
       
    }
    
}

@media only screen and (min-width: 32em) {
     
    .stocks-list{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2em;
        margin: auto;
        padding: 2em;
        color: rgb(70, 231, 21);
  
    }
    .stock-search-box{
          margin-left: 230px;
          padding: 2em;
        
        
    }

}